@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="right top-right" style="margin-left:10px;margin-top:20px">
        <button type="button" class="btn btn-primary text-center">车次管理</button>
    </div>
    <div class="right top-right" style="margin-left:10px;margin-top:20px">
        <button type="button" class="btn btn-primary text-center">运单管理</button>
    </div>
    <div class="right top-right" style="margin-left:10px;margin-top:20px">
        <button type="button" class="btn btn-primary text-center">事件管理</button>
    </div>
</body>
</html>
